button {
  cursor: pointer;
  width: auto;
  background: #F1F1F3;
  color: #323232;
  font-size: 24px;
  border: none;
  padding: 20px 50px;
  border: solid 3px #FFF;
  margin: 0 20px 10px 0;
  border-radius: 30px;
}

/* Lesson Single Tabs */
.lesson-single-tabs {
  width: 100%;
  padding: 30px 30px 30px 30px;
  margin: 0;
  background: #14699A;
}
.lesson-single-tabs h2 {
  font-size: 18px;
  font-weight: 400;
  color: #FFF;
  margin: 5px 0 15px 0;
}
.lesson-single-tabs ul {
  padding: 0;
  margin: 0;
}
.lesson-single-tabs li {
  display: inline-block;
  padding: 20px 40px;
  margin: 0;
  cursor: pointer;
  border-top: solid 2px #FFF;
  border-right: solid 2px #FFF;
  border-bottom: solid 2px #FFF;
  color: #323232;
  font-size: 22px;
  background: #F1F1F3;
}
.lesson-single-tabs li:first-child {
  border-left: solid 2px #FFFFFF55;
}
.lesson-single-tabs li.active {
  background: #F6AE1A;
  color: #FFFFFF;
}
.lesson-single-tabs li:hover {
  background: #F6AE1A;
  color: #FFFFFF;
}

/* Lesson Exercise Body */
.lesson-section-body {
  padding: 0px;
}

/* Control Buttons */
.s10-start-exercise-btn {
  background: #F2F2F2;
  border: solid 1px #FFF;
  color: #14699A;
  font-size: 1.3em;
  font-weight: 500;
  width: auto;
  margin: 0 auto;
  display: block;
}

/* Lesson Sections */
.lesson-section {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #272E39;
  background: #DE2026;
}
.lesson-section-header {
  margin: 0 0 30px 0;
  padding: 40px 35px 0px 35px;
  color: #272E39;
  font-size: 20px;
  line-height: 1.7;
}
.lesson-section-title {
  font-size: 1.8em;
  font-weight: normal;
  margin: 0 0 25px 0;
  color: #272E39;
}
.lesson-section-intro {
  color: #FFF;
  text-align: center;
}

/* WordScan */
.wordscan-word {
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  padding: 15px;
}
.lesson-section-body .wordscan-word img {
  max-width: 500px;
  width: 100%;
}
.wordscan-word-display {
  text-align: center;
  font-size: 2.5em;
  color: #FFFFFF;
  margin: 0 0 10px 0;
}
.wordscan-word-display span {
  width: 100%;
}
.wordscan-word-display span.translation {
  color: #DDD;
}
.wordscan-word-pronunciation {
  font-size: 1.5em;
  font-style: italic;
  color: #DDD;
  margin: 10px 0 30px 0;
  text-align: center;
}
.wordscan-controls {
  margin: 60px 0 30px 0;
}
.wordscan-controls h3 {
  color: #FFF;
  font-size: 1.0em;
  font-weight: 400;
  text-align: center;
}
.wordscan-controls button {
  background: #F1F1F3;
  color: #323232;
  font-size: 1.2em;
  border: none;
  padding: 20px 0px;
  border: none;
  margin: 0 0 0 0;
  border-radius: 0;
  width: 33.3333333%;
  display: inline-block;
}
.wordscan-controls button span {
  display: block;
}
.wordscan-controls button:hover {
  color: #FFF;
  background: #14699A;
}
.wordscan-controls button i {

}

/* FlashCards */
.lesson-section-flashcards {
  display: none;
}
.flashcard {
  position: relative;
  overflow: hidden;
  background: #272E39;
  box-sizing: border-box;
  padding: 40px 30px;
  cursor: pointer;
  border-radius: 25px;
  color: #FFFFFF;
  max-width: 600px;
  min-width: 280px;
  margin: 0 0 40px 0;
}
.flashcard:hover {
  background: #272E39;
}
.flashcard h2 {
  font-size: 32px;
  color: #FFFFFF;
  font-weight: bold;
}
.flashcard-reset {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  border: none;
  background: none;
}
.flashcard-reset i.fas {
  font-size: 20px;
  color: #bbb;
}

.flashcard-up, .flashcard-down {
  display:none;
}
.flashcard-active {
  display: block;
}

/*
 * Word Selection Exercise
 */
.lesson-section-word-selection {
  display: none;
}

/* Conversation */
.lesson-section-conversation {
  display: none;
  text-align: center;
  padding: 40px 60px;
}
.conversation-canvas {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  background: #0000001A;
  color: #FFF;
  padding: 30px 0;
}
.conversation-canvas audio {
  max-width: 100px;
}
.conversation-title {
  font-size: 0.85em;
  font-weight: 300;
  font-style: italic;
  color: #FFF;
  margin: 0 0 8px 0;
}
.speaker-text {
  margin: 30px 0;
  max-width: 320px;
}
.speaker-text h3 {
  font-weight: 400;
  font-size: 1.1em;
  margin: 0 0 5px 0;
}
.speaker-text h4 {
  font-weight: 400;
  font-size: 0.9em;
  margin: 0;
  color: #353535;
}
.speaker-text-a {
  padding: 0 60px 0 0;
  text-align: left;
}
.speaker-text-b {
  padding: 0 0 0 60px;
  text-align: right;
}

/*
 * Lesson Single Footer
 */
.lesson-single-footer {
  margin: 0px 0 35px 0;
  background: #4E8C3F;
  color: #FFFFFF;
  padding: 90px 25px 40px 25px;
  font-size: 1.5em;
  text-align: center;
}
.lesson-single-footer button {
  color: #272E39;
  background: #FFFFFF1A;
  border: none;
  padding: 35px 50px;
}
.lesson-single-footer button:hover {
  background: #FFFFFF2A;
}



@media only screen and (max-width: 600px) {

  .wordscan-word {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 0px;
    margin: 0;
  }

}

.lesson-section-flashcards {
  overflow: hidden;
}
.flashcard-controls {

  min-height: 150px;
  white-space: nowrap;
}
.flashcard-controls h3 {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
}

/*
 * Word selection
 */
.word-selection {
  padding: 0 80px 0 120px;
}
 .word-selection h2 {
   font-size: 2.0em;
   color: #FFF;
 }
 .word-selection h3 {
   font-size: 1.5em;
   font-style: italic;
   color: #FFF;
 }
.word-selection ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.word-selection li {
  color: #FFF;
  margin: 0;
  padding: 25px 40px;
  font-size: 20px;
}
.word-selection li.selectable:hover {
  background: #F7AF19;
  cursor: pointer;
}
.word-selection li.selected {
  background: #D8D8D8;
}
.word-selection-result {
  padding: 0 80px 0 120px;
  margin: 60px 0 0 0;
  color: #FFF;
  text-align: right;
}
.word-selection-result h2 {
  font-size: 1.8em;
  font-weight: 400;
}
.s10-word-selection-next {
  border-radius: 0;
  color: #14699A;
  margin: 0;
}

/* Single header */
.lesson-single-header {
  margin: 0 0 20px 0;
}
.lesson-single-header h3 {
  font-size: 1.5em;
  font-weight: 400;
}
