#saber-register-form button {
  background: #148643;
  padding: 15px 40px;
  text-align: center;
  font-size: 1.4em;
  cursor: pointer;
  border: none;
}
#saber-register-form button:hover {
  background: #148643D9;
}

.saber-register-messages {
  display: none;
  background: #DE2026;
  color: #FFF;
  padding: 25px;
  margin: 0 0 35px 0;
}
