/* Course Header */
.course-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  border-bottom: solid 1px #E2E2E2;
  margin: 0 0 30px 0;
}
.course-header-right {
  text-align: right;
  vertical-align: bottom;
}
.course-title h1 {
  font-size: 1.7em;
  font-weight: 500;
  margin: 0.4em 0 0.8em 0;
}
.course-page-wrap {
  max-width: 1200px;
  margin: 40px auto;
}

.course-body {
  display: grid;
  grid-template-columns: 2fr 4fr;
}

/* Course Body */
.course-body-left {
  padding: 0px 50px 20px 0;
}
.course-body-right {

}


/* Course Menu */
.course-menu {
  background: #DCDCDC;
}
.course-menu-section {
  border-bottom: solid 1px #F2F2F2;
  cursor: pointer;
}
.course-menu li h3 {
  font-size: 1.0em;
}
.course-menu li h5 {
  font-size: 0.8em;
  font-weight: 400;
}

/* list of lessons */
.course-menu-section-list {

}

/* section header above list lessons */
.course-menu-section-header {
  padding: 20px 0 20px 20px;
  display: flex;

}

.course-menu-section-header-controls {
  padding: 1px 8px 0 0;
}

.course-menu-section-header h2 {
  font-weight: 400;
  margin: 0;
}


.course-menu-section-header h2 {
  font-size: 1.3em;
}

/* menu collapse */
.course-menu-collapse,
.course-menu-expand {
  text-align: right;
  padding: 12px;
  cursor: pointer;
}

.catalog-return {
  color: #0091ae;
  font-size: 0.9em;
  font-weight: 600;
  margin: 0 0 4px 0;
}
.catalog-return:hover {
  opacity: 0.9;
}
.catalog-return i {
  font-size: 0.7em;
}

.course-header-menu {
  margin-top: 1.8em;
  padding: 0 0 30px 0;
}
.course-header-menu a {
  display: inline-block;
  margin: 0 6px;
  background: #EAF0F6;
  border: solid 1px #D3D3D3;
  border-radius: 2px;
  font-size: 0.8em;
  padding: 8px;
}

/* Lesson Tabs */
#lesson-tabs {
  margin: 40px 0;
}
#lesson-tabs header {
  font-size: 0.90em;
  display: flex;
  margin: 0 0 30px 0;
  border-bottom: 1px solid #D7DBDD;
}
#lesson-tabs header a {
  border-top: solid 1px #D7D7D7;
  border-left: solid 1px #D7D7D7;
  background: #F5F8FA;
  padding: 16px 12px 12px 12px;
}
#lesson-tabs header a:last-child {
  border-right: solid 1px #D7D7D7;
}
#lesson-tabs header a.hover {
  opacity:0.8;
}
#lesson-tabs header a.active {
  background: #20759B;
  color: #FFF;
}

#lesson-tabs li.lesson-tabs-tab {
  display: none;
}

/*
 * Timeline
 */
 .timeline {
   position: relative;
   padding: 0 25px 0 60px;
 }
 .timeline-item {
   padding: 15px 0;
 }
.timeline-item::before {
  content: '';
  position: absolute;
  width: 2px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 40px;
  margin: 0 0 0 0;
}
.timeline-item-content {
  padding: 0px 0px;
  position: relative;
}
.timeline-item-content::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  top: -3px;
  left: -30px;
  background-color: white;
  border: 2px solid #C6C6C6;
  border-radius: 50%;
  z-index: 1;
}
